In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/Movies_dataset.csv", index_col=['index'])
df.head()

,title,original_language,release_date,popularity,vote_average,vote_count,overview
index,,,,,,,
0,Spider-Man: Across the Spider-Verse,en,31-05-2023,3368.627,8.5,3386,"After reuniting with Gwen Stacy, Brooklyn’s fu..."
1,Transformers: Rise of the Beasts,en,06-06-2023,2160.316,7.5,2747,When a new threat capable of destroying the en...
2,The Flash,en,13-06-2023,2108.713,7.0,2305,When his attempt to save his family inadverten...
3,No Hard Feelings,en,15-06-2023,1978.358,7.1,562,"On the brink of losing her childhood home, Mad..."
4,Barbie,en,19-07-2023,1976.513,7.5,3013,Barbie and Ken are having the time of their li...

In [3]:
recommendation = df.sort_values('vote_average', ascending=False).head(10)
recommendation

,title,original_language,release_date,popularity,vote_average,vote_count,overview
index,,,,,,,
4577,Abducted by My Teacher: The Elizabeth Thomas S...,en,12-08-2023,20.282,10.0,1,"The story of Elizabeth Thomas, a 15-year-old h..."
9370,섹스하기 좋은 날,ko,15-03-2019,13.094,10.0,1,NaN
380,Female Boss Hooker,ko,31-08-2020,82.915,10.0,1,Ji-cheol is a job seeker who only plays and ea...
3022,"Nicole Kidman, eyes wide open",fr,04-06-2023,25.879,10.0,1,"Over the years, Nicole Kidman, Oscar and two-t..."
9463,Blind Waters,en,12-08-2023,13.016,10.0,1,An unrelenting shark turns a couple’s dream va...
366,Pretty Young Sister 4,ko,15-01-2021,85.301,10.0,1,Jeong-woo who is tired of instant food and liv...
2100,Abducted by My Teacher: The Elizabeth Thomas S...,en,12-08-2023,20.282,10.0,1,"The story of Elizabeth Thomas, a 15-year-old h..."
3630,Dreams and Crumbs,es,25-07-2023,23.228,10.0,1,Javi and Dani go around the city trying to sel...
9700,Dangerous Younger Cousin,ko,23-11-2021,12.833,10.0,2,Hyang-gi hates her mother who only likes men a...
1200,Horseplay,es,01-06-2023,39.857,10.0,1,"In the heat of the summer, Andy leaves the cit..."

In [4]:
df.release_date = pd.to_datetime(df.release_date, format='%d-%m-%Y')
df['year'] = df.release_date.dt.year
df = df.drop(columns='release_date')
df.head()

,title,original_language,popularity,vote_average,vote_count,overview,year
index,,,,,,,
0,Spider-Man: Across the Spider-Verse,en,3368.627,8.5,3386,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023.0
1,Transformers: Rise of the Beasts,en,2160.316,7.5,2747,When a new threat capable of destroying the en...,2023.0
2,The Flash,en,2108.713,7.0,2305,When his attempt to save his family inadverten...,2023.0
3,No Hard Feelings,en,1978.358,7.1,562,"On the brink of losing her childhood home, Mad...",2023.0
4,Barbie,en,1976.513,7.5,3013,Barbie and Ken are having the time of their li...,2023.0

In [13]:
def imdb_score(df, q=0.82): # depend of data
    df = df.copy()
    
    m = df.vote_count.quantile(q)
    c = (df.vote_count * df.vote_average).sum() / df.vote_count.sum()
    
    df = df[df.vote_count >= m]
    df['score'] = df.apply(lambda x: (x.vote_average * x.vote_count + c*m) / (x.vote_count + m), axis=1)
    return df

In [14]:
years = (2000, 2019)
df = df[df.year.between(year[0], year[1])]

df = imdb_score(df)
recommendation = df.sort_values('score', ascending=False).head(10)
recommendation

,title,original_language,popularity,vote_average,vote_count,overview,year,score
index,,,,,,,,
240,The Dark Knight,en,109.795,8.5,30317,Batman raises the stakes in his war on crime. ...,2008.0,8.114196
195,Inception,en,122.994,8.4,34245,"Cobb, a skilled thief who commits corporate es...",2010.0,8.079095
202,Inception,en,122.994,8.4,34245,"Cobb, a skilled thief who commits corporate es...",2010.0,8.079095
145,Interstellar,en,148.760,8.4,32159,The adventures of a group of explorers who mak...,2014.0,8.066296
353,The Lord of the Rings: The Return of the King,en,87.408,8.5,22036,Aragorn is revealed as the heir to the ancient...,2003.0,8.038450
304,The Lord of the Rings: The Fellowship of the Ring,en,96.537,8.4,23096,"Young hobbit Frodo Baggins, after inheriting a...",2001.0,7.996349
107,Avengers: Infinity War,en,187.191,8.3,27462,As the Avengers and their allies have continue...,2018.0,7.975681
617,Django Unchained,en,65.361,8.2,24493,"With the help of a German bounty hunter, a fre...",2012.0,7.899235
359,Joker,en,86.522,8.2,23189,"During the 1980s, a failed stand-up comedian i...",2019.0,7.890183
804,Shutter Island,en,55.961,8.2,22090,World War II soldier-turned-U.S. Marshal Teddy...,2010.0,7.882121

In [29]:
class RecommenderSystem:
    def __init__(self,data):
        self.df = pd.read_csv(data)
        
    def recommend(self, genre=None, duration=None, year=None, topk = 10):
        df = self.df.copy()
        df.release_date = pd.to_datetime(df.release_date, format='%d-%m-%Y')
        df['year'] = df.release_date.dt.year
        df = df.drop(columns='release_date')
        df = self.demographFilter(df, genre=genre, duration=duration, year=year)
        df = self.compute_imdb_score(df)

        
        result = df.sort_values('vote_average', ascending=False).head(10)
        return result
        
    @staticmethod # fungsi yg tdk ada hubunganya dengan class kita, karena tdk ada self tetapi ingin berada dlm class
    def demographFilter(df, genre=None, duration=None, year=None): # fungsi yg tdk ada hubunganya dengan class kita karena tdk ada self
        df = df.copy()
        
        if genre is not None:
            df = df[df[genre].all(axis=1)]
            
        if duration is not None:
            df = df[df.runtime.between(duration[0], duration[1])]
            
        if year is not None:
            df = df[df.year.between(year[0], year[1])]
            
        return df
        
    @staticmethod
    def compute_imdb_score(df, q=0.9):
        df = df.copy()
    
        m = df.vote_count.quantile(q)
        c = (df.vote_count * df.vote_average).sum() / df.vote_count.sum()
    
        df = df[df.vote_count >= m]
        df['score'] = df.apply(lambda x: (x.vote_average * x.vote_count + c*m) / (x.vote_count + m), axis=1)
        return df

In [30]:
recSys = RecommenderSystem(data='data/Movies_dataset.csv')
recSys.recommend(year = (2000, 2019))

,index,title,original_language,popularity,vote_average,vote_count,overview,year,score
353,353,The Lord of the Rings: The Return of the King,en,87.408,8.5,22036,Aragorn is revealed as the heir to the ancient...,2003.0,8.166600
439,439,Spirited Away,ja,79.322,8.5,14717,"A young girl, Chihiro, becomes trapped in a st...",2001.0,8.047687
584,584,Parasite,ko,67.364,8.5,16197,"All unemployed, Ki-taek's family takes peculia...",2019.0,8.078115
240,240,The Dark Knight,en,109.795,8.5,30317,Batman raises the stakes in his war on crime. ...,2008.0,8.243036
476,476,Your Name.,ja,75.396,8.5,10149,High schoolers Mitsuha and Taki are complete s...,2016.0,7.918167
145,145,Interstellar,en,148.760,8.4,32159,The adventures of a group of explorers who mak...,2014.0,8.170791
195,195,Inception,en,122.994,8.4,34245,"Cobb, a skilled thief who commits corporate es...",2010.0,8.182730
705,705,Whiplash,en,48.076,8.4,13738,"Under the direction of a ruthless instructor, ...",2014.0,7.954725
1988,1988,The Pianist,en,33.813,8.4,8252,The true story of pianist Władysław Szpilman's...,2002.0,7.780930
1934,1934,The Pianist,en,33.813,8.4,8252,The true story of pianist Władysław Szpilman's...,2002.0,7.780930